<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Hello! You!</title>
	<link rel="icon" type="image/x-icon" href="Logos/hello.png"> 
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway|Caveat Brush'>
    <link rel="stylesheet" href='css/style.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="showcase" id="background1">
		<header>
			<h2><a href="/explore">HELLO! YOU!</a></h2>	
            <div class="menu"> 
                <ul class="social">
                <li><a href="http://twitter.com/Shuyaowang1"><img src="Logos/twitter.png" alt=""></a></li>
                <li><a href="http://www.facebook.com/Helloyouproject-107131141996504"><img src="Logos/facebook.png" alt=""></a></li>
                <li><a href="http://www.instagram.com/shuyao14/"><img src="Logos/instagram.png" alt=""></a></li>
              </ul></div>	
		</header>
        <div class="source">
            <p>Developed by: Shuyao Wang, Image: <a href="http://www.pexels.com/photo/yellow-geometric-staircase-in-contemporary-apartment-3802667">PEXELS</a></p> 
        </div>
	</div>
	<div class="center">
		<div class="text">
			<h1 id="black">Delete By Title</h1>
			<form action="/clean" method="post" id="form">
				<label id="black"><b>Title:</b> <input type="text" name="title" id="long" required autofocus/></label><br>
				<input type="reset" value="CLEAN" id="black"/>
				<input type="submit" value="SUBMIT" id="black"/>
			</form>
		</div>
	</div>
	<script>
		document.getElementById('form').addEventListener('submit', (e) => checker(e))

		function checker(e) {
			if(!window.confirm("Are you sure you want delete this post?"))
				e.preventDefault()
		}
	</script>
</body>

</html>