<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Hello! You!</title>
	<link rel="icon" type="image/x-icon" href="Logos/hello.png"> 
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway|Caveat Brush'>
    <link rel="stylesheet" href='css/style.css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="showcase" id="background2">
		<header>
			<h2><a href="/explore">HELLO! YOU!</a></h2>	
            <div class="menu"> 
                <ul class="social">
                <li><a href="http://twitter.com/Shuyaowang1"><img src="Logos/twitter.png" alt=""></a></li>
                <li><a href="http://www.facebook.com/Helloyouproject-107131141996504"><img src="Logos/facebook.png" alt=""></a></li>
                <li><a href="http://www.instagram.com/shuyao14/"><img src="Logos/instagram.png" alt=""></a></li>
              </ul></div>	
		</header>
        <div class="source">
            <p>Developed by: Shuyao Wang, Image: <a href="http://images.pexels.com/photos/532561/pexels-photo-532561.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">PEXELS</a></p> 
        </div>
	</div>
    <div class="center">
        <div class="text">
            <a href="/apply" id="pink">SHARE!</a> 
            <a href="/title" id="orange">FIND TITLE</a>
            <a href="/mood" id="cyan">FIND MOOD</a>
            <a href="/clean" id="green">DELETE</a> 
        </div>
    </div>
</body>
</html>