<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
	  <title>Hello! You!</title>
    <link rel="icon" type="image/x-icon" href="Logos/hello.png"> 
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Raleway|Caveat Brush'>
    <link rel="stylesheet" href='css/style.css'>
</head>

<body>
    <div class="showcase">
        <header>
          <h2><a href="/explore">HELLO! YOU!</a></h2>
          <div class="menu"> 
            <ul class="social">
            <li><a href="http://twitter.com/Shuyaowang1"><img src="Logos/twitter.png" alt=""></a></li>
            <li><a href="http://www.facebook.com/Helloyouproject-107131141996504"><img src="Logos/facebook.png" alt=""></a></li>
            <li><a href="http://www.instagram.com/shuyao14/"><img src="Logos/instagram.png" alt=""></a></li>
          </ul></div>
        </header>
        <video autoplay muted loop src="videos/runs.mp4"></video>
        <div class="text">
          <h2><b>WHERE?</b></h2>
          <h3><b>WHEN? FEELS?</b></h3> 
          <h5>A secrect garden to store, your moods, your pictures, and your records !</h5>
          <h5>Happiness grows when stores ! Make your mood albums</h5>
          <a href="/explore">EXPLORE!</a>
        </div>
        <div class="source">
            <p>Developed by: Shuyao Wang, Video: <a href="http://www.pexels.com/video/a-woman-running-in-the-field-4919748/">Pexels</a>, Icon: <a href="http://www.iconfinder.com/icons">Iconfinder</a></p> 
        </div>
      </div>

        
    </body>
</html>



